<div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
    <a href="{% url 'newsletter:index' %}" class="d-flex align-items-center link-body-emphasis text-decoration-none">
        <span class="fs-4">Главная</span>
    </a>
    <div class="col text-lg-right">
        <nav class="d-inline-flex mt-2 mt-md-0 align-items-md-end">
            <a class="mr-md-4 py-2 link-body-emphasis text-decoration-none" href="{% url 'newsletter:clients' %}">Клиенты</a>
            <a class="mr-md-4 py-2 link-body-emphasis text-decoration-none" href="{% url 'newsletter:delivery_view' %}">Рассылки</a>
            <a class="mr-md-4 py-2 link-body-emphasis text-decoration-none" href="#">Блог</a>
        </nav>
    </div>
</div>

<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal text-body-emphasis">Pricing</h1>
    <p class="fs-5 text-body-secondary">Quickly build an effective pricing table for your potential customers
        with this Bootstrap example. It’s built with default Bootstrap components and utilities with little
        customization.</p>
</div>